{:deps
 {lambdaisland/open-source {:git/url "https://github.com/lambdaisland/open-source"
                            :git/sha "35d8c7eb1c05d18af3e7d04d65211af0f679595c"}
  org.clojars.sandudorogan/garden {:local/root "."}}}
